{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 设置'}}{{/block}}

{{block 'body'}}
<section class="container">
  {{include '../_partials/settings-nav.html'}}
  <div class="col-md-5">
    <form id="profile_form">
      <div class="form-group">
        <label for="exampleInputEmail1">邮箱</label>
        <input type="email" class="form-control" name="email" disabled="disabled" 
        value="{{ user.email }}">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">昵称</label>
        <input type="text" class="form-control" name="nickname" value="{{ user.nickname }}">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">介绍</label>
        <textarea class="form-control" rows="3" name="bio">{{user.bio}}</textarea>
      </div>
      <div class="form-group">
        <label for="">性别</label>
        <div>
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio1" value=0 
            {{ user.gender==0?"checked":null }}> 男
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio2" value=1 
            {{ user.gender==1?"checked":null }}> 女
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio3" value=-1 
            {{ user.gender==-1?"checked":null }}> 保密
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="">生日</label>
        <input type="date" class="form-control" name="birthday" value="{{ user.birthday }}">
      </div>
      <button type="submit" class="btn btn-success">保存</button>
    </form>
  </div>
  <div class="col-md-2 profile-avatar">
    <dl>
      <dt>头像设置</dt>
      <dd>
        
        <img class="avatar" width="150" height="150" src="{{ user.avatar }}" alt="">
        <div align="center">
          <br>
          <form action="" id="avatar_form">
          <input type="file" id="avatarfile" name="avatar" accept="image/gif, image/jpeg, image/png, image/jpg" style="display: none;" onchange="avatarPath.value=this.value">
          <input type="button" id="avatarbtn" value="选择头像" onclick="avatarfile.click()">
          <br><br>
          <input type="text" name="avatarPath" id="avatarPath" readonly style="border:none;">
          <br><br> 
          <button type="submit" class="btn btn-default" href="">上传</button>
        </form>
        </div>

      </dd>
    </dl>
  </div>
</section>
{{/block}}

{{block 'script'}}
<script type="text/javascript">
  $('#profile_form').on('submit',function(e){
    //submit时阻止默认事件, 进行异步提交
    e.preventDefault()
    //表单序列化
    var formData = $(this).serialize()
    $.ajax({
      url: '/settings/profile',
      type: 'post',
      data: formData,
      dataType: 'json',
      success: function (data){
        var err_code = data.err_code
        if (err_code === 0) {
          window.alert('保存信息成功')
          window.location.href = '/settings/profile'
        } else if (err_code === 1) {
          window.alert('昵称重复，请更换昵称')
        } 
        else if (err_code === 500) {
          window.alert('服务器忙，请稍后重试')
        }
      }
    })
  })

  $('#avatar_form').on('submit',function(e){
    //submit时阻止默认事件, 进行异步提交
    e.preventDefault()
    var imageFile = $("#avatarfile").val()
    var formData = new FormData()
    //把文件对象插到formData对象上
    formData.append("avatarImg",$("#avatarfile")[0].files[0])
    console.log(formData.get('avatarImg'));
    $.ajax({
      url: '/settings/avatar',
      type: 'post',
      data: formData,
      dataType: 'json',
      // 告诉jQuery不要去处理发送的数据
      processData: false,
      // 告诉jQuery不要去设置Content-Type请求头
      contentType: false,
      success: function (data){
        var err_code = data.err_code
        if (err_code === 0) {
          window.alert('保存信息成功')
        } else if (err_code === 1) {
          window.alert('更新头像失败')
        } 
        else if (err_code === 500) {
          window.alert('服务器忙，请稍后重试')
        }
      }
    })
  }
</script>
{{/block}}